<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mission to Mars</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
  <div class="container">

    <div class="jumbotron text-center">
      <h1>Mission to Mars</h1>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a></p>
    </div>

    <!-- Mar news -->
    <div class="row" id="craiglist-listings">
      <div class="col-md-12">
        <h3 class ="heading"><strong>Lastest Mars News</strong></h3>
        <h4>{{mars.news_title}}</h4>
        <h5>{{mars.news_para}}</h5>
       
      </div>
    </div>
    <!-- Mrs featured Image -->
    <div class ="row" id = "craiglist-listings">
      <div class="col-md-8">
        <h3 class="heading">Featured Mars Image</h3>
        <img src="{{mars.img_url}}" style ="width: 650px; height: 450px;">
      </div>
   
    <!-- Mars Facts -->
    
      <div class="col-md-4">
        <h3 class="heading">Mars Facts</h3>
        {{mars.fact | safe}}
      </div>
    </div>
    <!-- Mars Hemisphers -->
    <div class="row">
      <div class="col-md-12">
        <h3 class="heading" style ="text-align: center;">Mars Hemispheres</h3>
      </div>
      {% for x in mars.hemi_title_img %}
        <div class ="col-md-6" style="border: 1px solid gray;">
          <img src="{{x.img_url}}" style ="width: 450px; height: 450px;">
          <h5>{{x.img_title}}</h5>
        </div>

      {% endfor %}
    </div>

      </div>
    </div>


  </div>
</body>

</html>

